<app-nav-bar></app-nav-bar>
<div class="blog-container">
    <div  class="blog-item-width text-left">
    <h3>
        EDA
    </h3>
    <hr/>
       <strong>NSEpy Python Library:</strong> NSEpy is a library to extract historical and realtime data from NSE’s website. This Library aims to keep the API very simple. Close price and close date data is fetched using this library.<br/><br/>
       <strong>Analysis:</strong> <br/>
       <ul>
       <li>A python module performs the following analysis on the data (for each and every stock that exists in the database) that is fetched from NSEpy library: Volatility, Beta, Price Up and Down (Days), Average Price Up and Down (₹).</li><br/>
        <li>Another Python module performs the previously mentioned analysis, but on a single stock when requested by the client. </li><br/>
        <li>Trading date Python module processes a list of dates and returns the exact trading date required to perform analysis for six months, one year, three years, and five years.</li>
        </ul>
        <hr/>
        <h4>Meta Data</h4><br/>
        <strong>Stock:</strong><br/>
        <img src="http://localhost:5000/images/stock_data.png"><br/>
        <strong>Analysis:</strong><br/>
        <img src="http://localhost:5000/images/analysis_data_1.png">
        <img src="http://localhost:5000/images/analysis_data_2.png">
    </div>
</div>
<app-footer></app-footer>