<app-nav-bar></app-nav-bar>
<form class="form-horizontal" #changePasswordForm="ngForm" (ngSubmit)="submitAction()">

    <div class="form-group">
        <label class="form-label" for="old_password">Current Password</label>
        <input type="password" class="form-control" id="old_password" name="old_password" [(ngModel)]="user.old_password" #old_password="ngModel" required>
      </div>
      <div *ngIf="old_password.invalid && (old_password.dirty || old_password.touched)" class="alert">
          <div *ngIf="old_password.errors?.['required']">
            Current Password is required
          </div>
    </div>
    
    <div class="form-group">
        <label class="form-label" for="password">New Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
      </div>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
          <div *ngIf="password.errors?.['required']">
            New Password is required
          </div>
          <div *ngIf="password.errors?.['pattern']">
            Password should contain minimum eight characters, at least one uppercase letter, one lowercase letter, one number, and one special character
          </div>
    </div>

    <div class="form-group">
      <label class="form-label" for="retypePassword">Retype New Password</label>
      <input type="password" class="form-control" id="retypePassword" name="retypePassword" [(ngModel)]="user.retypePassword" #retypePassword="ngModel" required>
    </div>
    <div *ngIf="retypePassword.invalid && (retypePassword.dirty || retypePassword.touched)" class="alert">
        <div *ngIf="retypePassword.errors?.['required']">
          Retype New Password is required
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]='!changePasswordForm.valid'>Change Password</button>
    </div>

</form>
<app-footer></app-footer>