<app-nav-bar></app-nav-bar>
<div class="blog-container">
    <div  class="blog-item-width text-left">
    <h3>
        Introduction
    </h3>
    <hr/>
     <ul>
        <li>In this fast and ever-growing economy, it is hard for a layman to be informed about the ongoings in the stock market. </li><br/>
        <li>Normal stock market screeners would not be able to paint the picture of the stock market as a whole in the minds of the user, i.e the investor. </li><br/>
        <li>In this work we focus upon a beginner level trader who doesn’t have in-depth knowledge on the stock market and its trends, this app will give an insight and knowledge upon the trends of the market which is based upon the historical data of the National Stock Exchange</li><br/>
        <li>Analysis offered: Volatility, Beta, Price Up and Down (Days), Average Price Up and Down (₹), expense ratio, dividend and profit, potential returns.</li>
    </ul>    
    </div>
</div>
<app-footer></app-footer>