<app-nav-bar></app-nav-bar>
<div class="stock-page-container">
  <div class="d-flex justify-content-center">
    <button class="btn btn-outline-primary btn-lg right-margin" type="button" (click)="showCloseChart()">Close</button>
    <button class="btn btn-outline-primary btn-lg right-margin" type="button" (click)="showDurationHighLowChart()">High/ Low</button>
    <button class="btn btn-outline-primary btn-lg right-margin" type="button" (click)="showVolatilityChart()">Volatility</button>
    <button class="btn btn-outline-primary btn-lg right-margin" type="button" (click)="showBetaChart()">Beta</button>
    <button class="btn btn-outline-primary btn-lg right-margin" type="button" (click)="showPriceUpDownChart()">Up/ Down</button>
    <button class="btn btn-outline-primary btn-lg right-margin" type="button" (click)="showAvgPriceUpDownChart()">Avg. Up/ Down</button>
    <button class="btn btn-outline-primary btn-lg right-margin" type="button" (click)="showReturnsChart()">Returns</button>
  </div>
  <div style="display: block;" *ngIf="graphSelected == 0">
          <canvas baseChart height="130em"
            [datasets]="closeChartData"
            [labels]="ChartLabels"
            [options]="closeChartOptions"
            [plugins]="ChartPlugins"
            [legend]="ChartLegend"
            [chartType]="closeChartType">
          </canvas>
  </div>
  <div style="display: block;" *ngIf="graphSelected == 6">
    <canvas baseChart height="130em"
      [datasets]="durationHighLowChartData"
      [labels]="ChartLabels"
      [options]="durationHighLowChartOptions"
      [plugins]="ChartPlugins"
      [legend]="ChartLegend"
      [chartType]="durationHighLowChartType">
    </canvas>
</div>
  <div style="display: block;" *ngIf="graphSelected == 1">
    <canvas baseChart height="130em"
      [datasets]="volatilityChartData"
      [labels]="ChartLabels"
      [options]="volatilityChartOptions"
      [plugins]="ChartPlugins"
      [legend]="ChartLegend"
      [chartType]="volatilityChartType">
    </canvas>
</div>
<div style="display: block;" *ngIf="graphSelected == 2">
  <canvas baseChart height="130em" 
    [datasets]="betaChartData"
    [labels]="ChartLabels"
    [options]="betaChartOptions"
    [plugins]="ChartPlugins"
    [legend]="ChartLegend"
    [chartType]="betaChartType">
  </canvas>
</div>
<div style="display: block;" *ngIf="graphSelected == 3">
  <canvas baseChart height="130em" 
    [datasets]="priceUpDownChartData"
    [labels]="ChartLabels"
    [options]="priceUpDownChartOptions"
    [plugins]="ChartPlugins"
    [legend]="ChartLegend"
    [chartType]="priceUpDownChartType">
  </canvas>
</div>
<div style="display: block;" *ngIf="graphSelected == 4">
  <canvas baseChart height="130em" 
    [datasets]="avgPriceUpDownChartData"
    [labels]="ChartLabels"
    [options]="avgPriceUpDownChartOptions"
    [plugins]="ChartPlugins"
    [legend]="ChartLegend"
    [chartType]="avgPriceUpDownChartType">
  </canvas>
</div>
<div style="display: block;" *ngIf="graphSelected == 5">
  <canvas baseChart height="130em" 
    [datasets]="returnsChartData"
    [labels]="ChartLabels"
    [options]="returnsChartOptions"
    [plugins]="ChartPlugins"
    [legend]="ChartLegend"
    [chartType]="returnsChartType">
  </canvas>
</div>
<hr/>
<h3>Stock Analysis</h3>
<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Time/ Analysis</th>
        <th scope="col">Six Months</th>
        <th scope="col">One Year</th>
        <th scope="col">Three Years</th>
        <th scope="col">Five Years</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Date</th>
        <td>{{ stock.analysis?.[0]?.sm_date }}</td>
        <td>{{ stock.analysis?.[0]?.oy_date }}</td>
        <td>{{ stock.analysis?.[0]?.ty_date }}</td>
        <td>{{ stock.analysis?.[0]?.fy_date }}</td>
      </tr>
      <tr>
        <th scope="row">Close (₹)</th>
        <td>{{ stock.analysis?.[0]?.sm_close }}</td>
        <td>{{ stock.analysis?.[0]?.oy_close }}</td>
        <td>{{ stock.analysis?.[0]?.ty_close }}</td>
        <td>{{ stock.analysis?.[0]?.fy_close }}</td>
      </tr>
      <tr>
        <th scope="row">Duration High (₹)</th>
        <td>{{ stock.analysis?.[0]?.sm_duration_high }}</td>
        <td>{{ stock.analysis?.[0]?.oy_duration_high }}</td>
        <td>{{ stock.analysis?.[0]?.ty_duration_high }}</td>
        <td>{{ stock.analysis?.[0]?.fy_duration_high }}</td>
      </tr>
      <tr>
        <th scope="row">Duration Low (₹)</th>
        <td>{{ stock.analysis?.[0]?.sm_duration_low }}</td>
        <td>{{ stock.analysis?.[0]?.oy_duration_low }}</td>
        <td>{{ stock.analysis?.[0]?.ty_duration_low }}</td>
        <td>{{ stock.analysis?.[0]?.fy_duration_low }}</td>
      </tr>
      <tr>
        <th scope="row">Volatility</th>
        <td>{{ stock.analysis?.[0]?.sm_volatility }}</td>
        <td>{{ stock.analysis?.[0]?.oy_volatility }}</td>
        <td>{{ stock.analysis?.[0]?.ty_volatility }}</td>
        <td>{{ stock.analysis?.[0]?.fy_volatility }}</td>
      </tr>
      <tr>
        <th scope="row">Beta</th>
        <td>{{ stock.analysis?.[0]?.sm_beta }}</td>
        <td>{{ stock.analysis?.[0]?.oy_beta }}</td>
        <td>{{ stock.analysis?.[0]?.ty_beta }}</td>
        <td>{{ stock.analysis?.[0]?.fy_beta }}</td>
      </tr>
      <tr>
        <th scope="row">Price Up (Days)</th>
        <td>{{ stock.analysis?.[0]?.sm_price_up }}</td>
        <td>{{ stock.analysis?.[0]?.oy_price_up }}</td>
        <td>{{ stock.analysis?.[0]?.ty_price_up }}</td>
        <td>{{ stock.analysis?.[0]?.fy_price_up }}</td>
      </tr>
      <tr>
        <th scope="row">Average Price Up (₹)</th>
        <td>{{ stock.analysis?.[0]?.sm_avg_price_up }}</td>
        <td>{{ stock.analysis?.[0]?.oy_avg_price_up }}</td>
        <td>{{ stock.analysis?.[0]?.ty_avg_price_up }}</td>
        <td>{{ stock.analysis?.[0]?.fy_avg_price_up }}</td>
      </tr>
      <tr>
        <th scope="row">Price Down (Days)</th>
        <td>{{ stock.analysis?.[0]?.sm_price_down }}</td>
        <td>{{ stock.analysis?.[0]?.oy_price_down }}</td>
        <td>{{ stock.analysis?.[0]?.ty_price_down }}</td>
        <td>{{ stock.analysis?.[0]?.fy_price_down }}</td>
      </tr>
      <tr>
        <th scope="row">Average Price Down (₹)</th>
        <td>{{ stock.analysis?.[0]?.sm_avg_price_down }}</td>
        <td>{{ stock.analysis?.[0]?.oy_avg_price_down }}</td>
        <td>{{ stock.analysis?.[0]?.ty_avg_price_down }}</td>
        <td>{{ stock.analysis?.[0]?.fy_avg_price_down }}</td>
      </tr>
    </tbody>
</table>
<hr/>
<div>
<h3>Dividends Declared</h3>
<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Year</th>
        <th scope="col">Amount (₹ per share)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ years[0] }}</th>
        <td *ngIf="stock.one_year_dividend">{{ stock.one_year_dividend }}</td>
        <td *ngIf="!stock.one_year_dividend">--</td>
      </tr>
      <tr>
        <th scope="row">{{ years[1] }}</th>
        <td *ngIf="stock.two_year_dividend">{{ stock.two_year_dividend }}</td>
        <td *ngIf="!stock.two_year_dividend">--</td>
      </tr>
      <tr>
        <th scope="row">{{ years[2] }}</th>
        <td *ngIf="stock.three_year_dividend">{{ stock.three_year_dividend }}</td>
        <td *ngIf="!stock.three_year_dividend">--</td>
      </tr>
      <tr>
        <th scope="row">{{ years[3] }}</th>
        <td *ngIf="stock.four_year_dividend">{{ stock.four_year_dividend }}</td>
        <td *ngIf="!stock.four_year_dividend">--</td>
      </tr>
      <tr>
        <th scope="row">{{ years[4] }}</th>
        <td *ngIf="stock.five_year_dividend">{{ stock.five_year_dividend }}</td>
        <td *ngIf="!stock.five_year_dividend">--</td>
      </tr>
    </tbody>
</table>
<hr/>
</div>
<h3>Potential Returns</h3>
<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Time/ Calculation For</th>
        <th scope="col">Six Months</th>
        <th scope="col">One Year</th>
        <th scope="col">Three Years</th>
        <th scope="col">Five Years</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Profit (₹)</th>
        <td>{{ sm_returns.profit }}</td>
        <td>{{ oy_returns.profit }}</td>
        <td>{{ ty_returns.profit }}</td>
        <td>{{ fy_returns.profit }}</td>
      </tr>
      <tr>
        <th scope="row">Dividend (₹)</th>
        <td>{{ sm_returns.dividend }}</td>
        <td>{{ oy_returns.dividend }}</td>
        <td>{{ ty_returns.dividend }}</td>
        <td>{{ fy_returns.dividend }}</td>
      </tr>
      <tr>
        <th scope="row">Expenses (₹)</th>
        <td>{{ sm_returns.expenses }}</td>
        <td>{{ oy_returns.expenses }}</td>
        <td>{{ ty_returns.expenses }}</td>
        <td>{{ fy_returns.expenses }}</td>
      </tr>
      <tr>
        <th scope="row">Returns (₹)</th>
        <td>{{ sm_returns.returns }}</td>
        <td>{{ oy_returns.returns }}</td>
        <td>{{ ty_returns.returns }}</td>
        <td>{{ fy_returns.returns }}</td>
      </tr>
    </tbody>
</table>
<hr/>
<h3>Stock Details</h3>
<table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Field</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Name</th>
        <td>{{ stock.name }}</td>
      </tr>
      <tr>
        <th scope="row">Symbol</th>
        <td>{{ stock._id }}</td>
      </tr>
      <tr>
        <th scope="row">Current Close (₹)</th>
        <td>{{ stock.analysis?.[0]?.close }}</td>
      </tr>
      <tr>
        <th scope="row">Current Trend</th>
        <td *ngIf="stock.analysis?.[0]?.is_bullish">Bullish</td>
        <td *ngIf="!stock.analysis?.[0]?.is_bullish">Bearish</td>
      </tr>
      <tr>
        <th scope="row">Market Standard</th>
        <td>{{ stock.market_standard }}</td>
      </tr>
      <tr>
        <th scope="row">Series</th>
        <td>{{ stock.series }}</td>
      </tr>
      <tr>
        <th scope="row">Expense Ratio</th>
        <td>{{ stock.expense_ratio }}</td>
      </tr>
      <tr>
        <th scope="row">Dividend</th>
        <td>{{ stock.dividend }}</td>
      </tr>
      <tr>
        <th scope="row">About</th>
        <td>{{ stock.about }}</td>
      </tr>
    </tbody>
  </table>
  <hr/>
  <h3>Stock Related Insights</h3>
  <div class="list-group" *ngFor="let insight of insights">
    <div class="link-item-small">
      <div class="d-flex w-100 justify-content-between" (click)="viewInsightAction(insight)">
        <h5 class="mb-1">{{ insight.title }}</h5>
        <small>{{ insight.timestamp?.toString()?.split('T')?.[0] }}</small>
      </div>
    </div>
  </div>
<app-footer></app-footer>