<app-nav-bar></app-nav-bar>
<div class="list-group" *ngFor="let insight of insights">
    <div class="link-item">
      <div (click)="viewInsightAction(insight)">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ insight.title }}</h5>
        <small>{{ insight.timestamp?.toString()?.split('T')?.[0] }}</small>
      </div>
      <p class="mb-1">{{ insight.summaryForDisplay }}</p>
    </div>
      <small class="btn btn-link fa fa-pencil mr-sm-2 btn-hover" (click)="editInsightAction(insight)" *ngIf="user.is_admin"></small>
      <small class="btn btn-link fa fa-trash mr-sm-2 btn-hover-red" (click)="deleteInsightAction(insight)" *ngIf="user.is_admin"></small>
    </div>
</div>
<app-footer></app-footer>