<app-nav-bar></app-nav-bar>
<button type="button" class="btn btn-primary" (click)="compareStocks()">Compare</button>
<ul class="list-group" *ngFor="let stock of stocks">
    <li class="list-group-item d-flex justify-content-between align-items-center" 
      [ngStyle]="{'background-color': stock.analysis?.[0]?.is_bullish ? '#90ee90' : '#ffcccb'}" (click)="stockDisplay(stock)">
      {{ stock.name }}
      <span>{{ stock.analysis?.[0]?.close }}
        <input type="checkbox" (click)="checkboxAction(stock, $event)">
      </span>
    </li>
</ul>
<app-footer></app-footer>