<app-nav-bar></app-nav-bar>
<div class="list-group" *ngFor="let trivia of trivias">
    <div class="link-item">
      <div (click)="viewTriviaAction(trivia)">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ trivia.title }}</h5>
      </div>
      <p class="mb-1">{{ trivia.descriptionForDisplay }}</p>
      </div>
      <small class="btn btn-link fa fa-pencil mr-sm-2 btn-hover" (click)="editTriviaAction(trivia)" *ngIf="user.is_admin"></small>
      <small class="btn btn-link fa fa-trash mr-sm-2 btn-hover" (click)="deleteTriviaAction(trivia)" *ngIf="user.is_admin"></small>
    </div>
</div>
<app-footer></app-footer>