<app-nav-bar></app-nav-bar>
<div class="list-group" *ngFor="let trivia of trivias">
    <div class="border-bottom link-item" (click)="viewTriviaAction(trivia)">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ trivia.title }}</h5>
      </div>
      <p class="mb-1">{{ trivia.descriptionForDisplay }}</p>
      <small class="right-margin btn btn-link" (click)="editTriviaAction(trivia)" *ngIf="user.is_admin">Edit</small>
      <small class="btn btn-link" (click)="deleteTriviaAction(trivia)" *ngIf="user.is_admin">Delete</small>
    </div>
    <hr>
</div>
<app-footer></app-footer>