<app-nav-bar></app-nav-bar>
<form class="form-horizontal form-container" #stockForm="ngForm" (ngSubmit)="submitAction()">

    <h1 class="text-center">Add Stock</h1>
    <div class="form-group">
      <label class="form-label" for="_id">Symbol</label>
      <input type="text" class="form-control" id="_id" name="_id" [(ngModel)]="stock._id" #_id="ngModel" required>
    </div>
    <div *ngIf="_id.invalid && (_id.dirty || _id.touched)" class="alert">
        <div *ngIf="_id.errors?.['required']">
            Symbol is required
        </div>
    </div>

    <div class="form-group">
        <label class="form-label" for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="stock.name" #name="ngModel">
    </div>

    <!-- <div class="form-group">
        <label class="form-label" for="market_standard">Market Standard</label>
        <input type="text" class="form-control" id="market_standard" name="market_standard" [(ngModel)]="stock.market_standard" #market_standard="ngModel">
    </div> -->

    <div class="form-group">
        <label class="form-label" for="market_standard">Market Standard</label>
        <select class="form-control" id="market_standard" name="market_standard" [(ngModel)]="stock.market_standard" #market_standard="ngModel">
            <option value="NIFTY">NIFTY</option>
            <option value="BANKNIFTY">BANKNIFTY</option>
        </select>
    </div>

    <div class="form-group">
        <label class="form-label" for="expense_ratio">Expense Ratio</label>
        <input type="text" class="form-control" id="expense_ratio" name="expense_ratio" [(ngModel)]="stock.expense_ratio" #expense_ratio="ngModel" pattern="^(0(\.[0-9]{1,4})?|1(\.0{1,4})?)$">
    </div>
    <div *ngIf="expense_ratio.errors?.['pattern']" class="alert">
        Valid value for expense ratio is 0 - 1
    </div>

    <div class="form-group">
        <label class="form-label" for="dividend">Dividend</label>
        <input type="text" class="form-control" id="dividend" name="dividend" [(ngModel)]="stock.dividend" #dividend="ngModel" pattern="^(0(\.[0-9]{1,4})?|1(\.0{1,4})?)$">
    </div>
    <div *ngIf="dividend.errors?.['pattern']" class="alert">
        Valid value for Dividend is 0 - 1
    </div>

    <!-- <div class="form-group">
        <label class="form-label" for="series">Series</label>
        <input type="text" class="form-control" id="series" name="series" [(ngModel)]="stock.series" #series="ngModel">
    </div> -->

    <div class="form-group">
        <label class="form-label" for="about">About</label>
        <textarea class="form-control" id="about" name="about" rows="5" [(ngModel)]="stock.about" #about="ngModel"></textarea>
    </div>

    <div class="alert" style="color: blue !important;">
        {{ loadingText }}
    </div>

    <div class="form-group">
        <label class="form-label" for="dividends_declared">Dividends Declared</label>
        <table class="table table-striped" id="dividends_declared">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Year</th>
                <th scope="col">Amount (₹)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ years[0] }}</td>
                <td><input type="text" class="form-control" id="one_year_dividend" name="one_year_dividend" [(ngModel)]="stock.one_year_dividend" #one_year_dividend="ngModel"></td>
            </tr>
            <tr>
                <td>{{ years[1] }}</td>
                <td><input type="text" class="form-control" id="two_year_dividend" name="two_year_dividend" [(ngModel)]="stock.two_year_dividend" #two_year_dividend="ngModel"></td>
            </tr>
            <tr>
                <td>{{ years[2] }}</td>
                <td><input type="text" class="form-control" id="three_year_dividend" name="three_year_dividend" [(ngModel)]="stock.three_year_dividend" #three_year_dividend="ngModel"></td>
            </tr>
            <tr>
                <td>{{ years[3] }}</td>
                <td><input type="text" class="form-control" id="four_year_dividend" name="four_year_dividend" [(ngModel)]="stock.four_year_dividend" #four_year_dividend="ngModel"></td>
            </tr>
            <tr>
                <td>{{ years[4] }}</td>
                <td><input type="text" class="form-control" id="five_year_dividend" name="five_year_dividend" [(ngModel)]="stock.five_year_dividend" #five_year_dividend="ngModel"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- <div *ngIf="year.errors?.['pattern']" class="alert">
        Valid value for year is 2000 - 2099
    </div> -->
    <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]='!stockForm.valid || loadingText'>Add</button>
    </div>

</form>
<app-footer></app-footer>