<form class="form-horizontal" #signUpForm="ngForm" (ngSubmit)="submitAction()">

    <div class="form-group">
      <label class="form-label" for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" #username="ngModel" required>
    </div>
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert">
        <div *ngIf="username.errors?.['required']">
            Username is required
        </div>
    </div>

    <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
      </div>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
          <div *ngIf="password.errors?.['required']">
            Password is required
          </div>
          <div *ngIf="password.errors?.['pattern']">
            Password should contain minimum eight characters, at least one uppercase letter, one lowercase letter, one number, and one special character
          </div>
    </div>

    <div class="form-group">
      <label class="form-label" for="retypePassword">Retype Password</label>
      <input type="password" class="form-control" id="retypePassword" name="retypePassword" [(ngModel)]="user.retypePassword" #retypePassword="ngModel" required>
    </div>
    <div *ngIf="retypePassword.invalid && (retypePassword.dirty || retypePassword.touched)" class="alert">
        <div *ngIf="retypePassword.errors?.['required']">
          Retype Password is required
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]='!signUpForm.valid'>Sign Up</button>
    </div>

</form>